:root {
    --smallW-color: rgb(122, 0, 41);
    --avarageW-color: rgb(99, 0, 33);
    --bigW-color: rgb(61, 0, 20);
}

.chair_pannel {
    width: 98%;
}

p {
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
}