body {
	margin: 0px;
}

:root {
	--bigW-color: rgb(54, 0, 17);
	--avarageW-color: rgb(131, 0, 44);
	--smallW-color: rgb(78, 0, 26);

	--color-block1: rgba(255, 238, 3, 0.13);
	--color-block2: rgba(168, 0, 56, 0.068);

	--color-text1: rgba(255, 196, 0, 0.76);
	--color-text2: rgb(78, 0, 26);
}

p {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}