body {
	margin: 0px;
}

:root {
	--bigW-color: rgb(54, 0, 17);
	--avarageW-color: rgb(131, 0, 44);
	--smallW-color: rgb(109, 0, 36);
}

p {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}